<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Início - Vestibulaê</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/assets/css/Contact-form.css">
    <link rel="stylesheet" href="../static/assets/css/Faq-by-pomdre-1.css">
    <link rel="stylesheet" href="../static/assets/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="../static/assets/css/FAQ-Frequentlly-Asked-Questions-1.css">
    <link rel="stylesheet" href="../static/assets/css/FAQ-Frequentlly-Asked-Questions.css">
    <link rel="stylesheet" href="../static/assets/css/FAQ-Section-for-BS5.css">
    <link rel="stylesheet" href="../static/assets/css/OcOrato---Login-form-1.css">
    <link rel="stylesheet" href="../static/assets/css/OcOrato---Login-form.css">
    <link rel="stylesheet" href="../static/assets/css/Registration-Form-with-Photo.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom" style="background: #134848;">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img class="navbar-brand brand-logo"
                    src="../static/assets/img/logo.png" style="width: 300px;"></a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('cadastro')}}">Cadastro</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Entrar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="color: var(--bs-blue);background: #1e6363;">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0" style="color: rgb(255,255,255);">Vestibulaê</h1>
                <h2 class="masthead-subheading mb-0" style="font-size: 25px;">Pratique para o vestibular com as
                    <br>questões das maiores instituições! <br>Rápido, fácil e de graça!
                </h2>
                <a class="btn btn-info text-center btn-xl rounded-pill mt-5" role="button" href="#div1"
                    style="background: #41EAB7;color: #287171;">Vamos começar</a>
            </div>
        </div>
        <div class="bg-circle-2 bg-circle" style="background: #7eeded;opacity: 0.15;"></div>
        <div class="bg-circle-4 bg-circle" style="background: #7eeded;transform: translate(-52px);opacity: 0.15;"></div>
        <div class="bg-circle-1 bg-circle"
            style="background: #7eeded;transform: translate(-198px);opacity: 0.15;margin-top: 0px;"></div>
        <div class="bg-circle-3 bg-circle"
            style="background: #7eeded;transform: translate(-52px);opacity: 0.15;margin-top: 0px;"></div>
    </header>
    <section class="text-center text-white" style="background: #1e6363;">
        <div class="bg-circle-3 bg-circle" style="background: #7eeded;opacity: 0.15;"></div>
        <section>
            <div id="div1" class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="rounded-circle img-fluid masthead-subheading mb-0"
                                src="../static/assets/img/estudante_vestibulae.png"></div>
                        <div class="bg-circle-3 bg-circle"
                            style="color: var(--bs-purple);background: #7eeded;opacity: 0.15;"></div>
                        <div class="bg-circle-3 bg-circle"
                            style="color: var(--bs-purple);background: #7eeded;opacity: 0.15;"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4 masthead-subheading mb-0" style="color: rgb(255,255,255);">O que nós
                                oferecemos?</h2>
                            <p style="font-size: 20px;color: rgb(255,255,255);">Oferecemos a chance de você praticar
                                usando questões de provas de todo o Brasil! Você pode escolher a matéria, quantidade de
                                questões ou fazer a prova completa!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section style="background: #1e6363;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid"
                            src="../static/assets/img/estudante_vestibulae2.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4" style="color: rgb(255,255,255);">Acompanhe seu desempenho!</h2>
                        <p style="font-size: 20px;color: rgb(255,255,255);">Para que você possa acompanhar melhor seu
                            desenvolvimento, vamos mostrar sua melhora por meio de gráficos, para ajudar a identificar
                            onde você precisa melhorar!&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #1e6363;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid"
                            src="../static/assets/img/estudante_vestibulae3.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4" style="color: rgb(255,255,255);">Estamos em constante melhoria</h2>
                        <p style="font-size: 20px;color: rgb(255,255,255);">Após a pesquisa realizada para a criação
                            dessa plataforma, já temos em mente diversas ideias para o seu futuro como estudante por
                            aqui.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-start py-4" style="color: #2C9494;background: #134848;padding-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><a class="mr-5" href="sobre.html"
                            style="margin-right: 20px;color: rgb(255,255,255);margin-left: 50px;">Sobre</a><a
                            href="contato.html" style="margin-right: 20px;color: rgb(255,255,255);">Contato</a></div>
                    <div class="col-md-6">
                        <p class=" d-flex flex-row-reverse text-center text-white m-0 small">Copyright&nbsp;© Vestibulaê
                            2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/Faq-by-pomdre.js"></script>
</body>

</html>